.home-first-showcase {
  width: 100%;
  height: 900px;
  background: #fff;
  font-family: "Duran Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &-img {
    img {
      width: 280px;
    }
  }
  &-title {
    font-weight: bold;
    color: #313131;
    font-size: 30px;
  }

  &-p {
    width: 40%;
    font-weight: bold;
    color: #474646;
    p {
      padding: 10px 0;
    }
  }
  &-fb {
    img {
      width: 30px;
    }
  }
}
